.container2{
    display: flex;
    margin: auto;
    margin-top: 120px;
    width: 435px;
    background-color: #333;
    border-radius: 10px;
}

.heding{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.search-text{
    height: 60px;
    width: 380px;
    border-radius: 10px;
    border: none;
    display: flex;
    padding: 20px;
    font-size: xx-large;
    font-family: Orbitron;
    font-weight: bold;
    text-align: right;
    letter-spacing: 4px;
}


.buttons{
    padding: 22px;
}

button{
    height: 70px;
    width: 90px;
    margin-top: 7px;
    margin-left: 5px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    font-size: x-large;
    font-family: Orbitron;
    font-weight: bold;
    border-radius: 5px;
    background-color: #1158fd;
    color: white;
    border: none;
    // cursor: pointer;
}

img{
    height: 20px;
    color: white;
}